<!DOCTYPE html>
<html>
  <head>
    <title>Mathfacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a id="home-link" href="#">SummerSubtraction</a>
      <a class="nav-link" href="#">Log in</a>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
