<!DOCTYPE html>
<html>
  <head>
    <title>Mathfacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <layout data-behavior="vue"
            v-bind:username="<%= @username.to_json %>"
            v-bind:problems="<%= @problems.to_json %>">
      <%= yield %>
    </layout>
  </body>
</html>
